__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
.DS_Store

data/train/*.parquet
data/validation/*.parquet
!data/train/.gitkeep
!data/validation/.gitkeep

outputs/*
!outputs/.gitkeep

models/*
!models/.gitkeep
